<h3>{{name}}</h3>
<h5>by {{author}}</h5>

<img {{bind-attr src=image}}/>

<div class="col-md-12">
  <p>{{body}}</p>
</div>

<div class="col-md-12">
  <br>
  <button class="btn btn-danger" {{action 'delete'}}>Delete</button>

</div>
